body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}
h3 {
  text-align: left;
}


img {
  margin: 20px 0;
  max-width: 200px;
}

.container {
  display: flex; /* or inline-flex */
}

.item {
  flex-basis: 50%
}

ul li {
  padding-left:8px;
  list-style:none;
  margin-bottom:6px;
  /* display: inline-block; */
  text-align:left;
  }